button{
    background-color: rgb(255, 216, 20);
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: rgb(250, 6, 6);
    border-color: red;
}